<footer>
  <div class="row">
    <div class="col-sm-4">
      <address>
        <strong>{{ site.title }}</strong><br>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </address>
    </div>
    <div class="col-sm-4">
       <ul class="list-unstyled">
        <li><a target="_blank" href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"> {{ site.github_username }}</i></a></li>
        <li><a target="_blank" href="{{ site.linkedin_url }}"><i class="fa fa-linkedin"> {{ site.linkedin_name }}</i></a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="list-unstyled">
          <li><a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"> {{ site.twitter_username }}</i></a></li>
          <li><a target="_blank" href="{{ site.google_plus_url }}"><i class="fa fa-google-plus"> {{ site.google_plus_name }}</i></a></li>
      </ul>

    </div>
  </div>
</footer>
