<footer>
  <div class="row">
    <div class="col-md-4">
      <address>
        <strong>{{ site.title }}</strong><br>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </address>
    </div>
    <div class="col-md-4">
       <ul class="list-unstyled">
        <li><a href="#"><i class="fa fa-github"> VJftw</i></a></li>
        <li><a href="#"><i class="fa fa-twitter"> VJftw</i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"> VJ Patel</i></a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <p>{{ site.description }}</p>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
  </div>
</footer>