<footer>
  <div class="row">
    <div class="col-md-4">
      <address>
        <strong>{{ site.title }}</strong><br>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </address>
    </div>
    <div class="col-md-4">
       <ul class="list-unstyled">
        <li><a href="#"><i class="fa fa-github"> VJftw</i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"> Vijendra Patel</i></a></li>

      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-unstyled">
          <li><a href="#"><i class="fa fa-twitter"> VJftw</i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"> VJ Patel</i></a></li>
      </ul>

    </div>
  </div>
</footer>
